<div class="footerbg hidden-xs">
  <div class="container">   
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <span class="ftitle">{{'LetsSocialize' | translate}}</span>
          <div class="scont">
            <a href="#" class="social1b"><img src="css/images/fb.png" alt=""></a>
            <a href="#" class="social2b"><img src="css/images/twitter.png" alt=""></a>
            <a href="#" class="social3b"><img src="css/images/google.png" alt=""></a>
            <a href="#" class="social4b"><img src="css/images/youtube.png" alt=""></a>
            <br><br><br>
            <img src="css/images/logo.png" alt=""><br>
            © 2013  |  <a href="#">Privacy Policy</a><br>
            All Rights Reserved 
            <br><br>
            
          </div>
        </div>
        <!-- End of column 1-->
        
        <div class="col-xs-6 col-md-3">
          <span class="ftitle">{{'TravelSpecialists' | translate}}</span>
          <br><br>
          <ul class="footerlist">
            <li><a href="#">{{'TS1' | translate}}</a></li>
            <li><a href="#">{{'TS1' | translate}}</a></li>
            <li><a href="#">{{'TS1' | translate}}</a></li>
            <li><a href="#">{{'TS1' | translate}}</a></li>
            <li><a href="#">{{'TS1' | translate}}</a></li>
            <li><a href="#">{{'TS1' | translate}}</a></li>
          </ul>
        </div>
        <!-- End of column 2-->   
        
        <div class="col-xs-6 col-md-3">
          <span class="ftitle">{{'TravelSpecialists' | translate}}</span>
          <br><br>
          <ul class="footerlist">
            <li><a href="#">{{'TS1' | translate}}</a></li>
            <li><a href="#">{{'TS1' | translate}}</a></li>
            <li><a href="#">{{'TS1' | translate}}</a></li>
            <li><a href="#">{{'TS1' | translate}}</a></li>
            <li><a href="#">{{'TS1' | translate}}</a></li>
            <li><a href="#">{{'TS1' | translate}}</a></li>
          </ul>       
        </div>
        <!-- End of column 3-->   
        
        <div class="col-xs-6 col-md-3 grey">
          <span class="ftitle">{{'Newsletter' | translate}}</span>
          <div class="relative">
            <input type="email" class="form-control fccustom2 radius0" id="exampleInputEmail1" placeholder="Enter email">
            <button type="submit" class="btncustom">Submit<img src="css/images/arrow.png" alt=""></button>
          </div>
          <br><br>
          <span class="ftitle">{{'CustomerSup' | translate}}</span><br>
          <span class="pnr">1-866-599-6674</span><br>
          office@travel.com
        </div>      
        <!-- End of column 4-->    
    </div>     
  </div>  
</div>
  
  <div class="footer2">
    <div class="row" style="margin: 0px !important;">
      <div class="col-xs-12 visible-xs visible-sm">
        <p class="text-muted">All material &copy; herein 2017</p>
        <p class="text-muted">Travel Company Pvt. Ltd. All Rights Reserved.</p>
      </div>
      
    </div>
    <div class="row" style="margin: 0px !important;">
      <div class="col-sm-12 hidden-xs">
        <div class="footerNav">
          <ul>
            <li><a href="#hotels">{{'FButton1' | translate}}</a>|</li>
            <li><a href="#flights">{{'FButton2' | translate}}</a>|</li>
            <li><a href="#vacations">{{'FButton3' | translate}}</a>|</li>
            <li><a href="#cars">{{'FButton4' | translate}}</a>|</li>
            <li><a href="#cruises">{{'FButton5' | translate}}</a>|</li>
            <li><a href="#thingstodo">{{'FButton6' | translate}}</a>|</li>
            <li><a href="#lastminute">{{'FButton7' | translate}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div onclick="gotop()" class="goUp glyphicon glyphicon-chevron-up"></div>
  </div>